@import "null.scss";
@import "mixin.scss";

body.lock {
   overflow: hidden;
}

.header {
   min-height: 100vh;
   background: url("../../img/header/header_bg.png") no-repeat top center / cover;
   &__body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
   }

   &__top {
      @include adaptive_padding_top(29, 15);
      @include adaptive_padding_bottom(29, 15);
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__list {
      display: flex;
      @media (max-width: 650px) {
         display: block;
      }
   }
   &__list li {
      @include adaptive_padding_right(60, 30);
      @media (max-width: 650px) {
         padding-right: 0px;
         @include adaptive_padding_bottom(30, 25);
      }
   }
   &__list li:last-child {
      padding: 0px;
   }

   &__link {
      color: #ffffff;
      font-family: "Lato - Black";
      @include adaptive_font(18, 14);
      font-weight: 400;
      text-transform: uppercase;
      transition: all 0.5s ease 0s;
      @media (max-width: 650px) {
         @include adaptive_font(35, 25);
      }
   }
   &__link:hover {
      color: #bdbdbd;
      transition: all 0.5s ease 0s;
   }

   &__social {
      transform: translate(-120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0.5s;
   }
   &__social._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }

   &__links {
      display: flex;
      align-items: center;
   }
   &__links li {
      @include adaptive_padding_right(20, 15);
   }
   &__links li:last-child {
      padding: 0px;
   }

   &__bottom {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
   }

   &__content {
   }

   &__subtitle {
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(28, 20);
      font-weight: 400;
      text-transform: uppercase;

      transform: translate(-120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0.5s;
   }

   &__subtitle._active {
      transform: translate(0px, 0px);
      opacity: 1;
   }

   &__title {
      background: linear-gradient(45deg, #aa3a67 0%, #fb806b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Lato - Black";
      @include adaptive_font(80, 40);
      text-transform: uppercase;
      @include adaptive_padding_top(20, 15);
      @include adaptive_padding_bottom(20, 15);

      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.15s;
   }

   &__title._active {
      transform: translate(0px, 0px);
      opacity: 1;
   }
   &__button {
      @include adaptive_padding_top(60, 30);

      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.3s;
   }
   &__button._active {
      transform: translate(0px, 0px);
      opacity: 1;
   }
   &__button button {
      background-color: transparent;
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(24, 18);
      font-weight: 700;
      text-transform: uppercase;
      border: 4px solid #d15c69;
      @include adaptive_height(80, 40);
      @include adaptive_width(300, 200);
      transition: all 0.5s ease 0s;
   }
   &__button button:hover {
      background-color: #663536;
      transition: all 0.5s ease 0s;
   }
   &__burger {
      display: none;
      z-index: 3;
      @media (max-width: 650px) {
         display: block;
         position: relative;
         width: 30px;
         height: 20px;

         transform: translate(-120%, 0px);
         opacity: 0;
         transition: all 0.8s ease 0.5s;
      }
   }
   &__burger._active {
      transform: translate(0px, 0px);
      opacity: 1;
   }
   &__burger:before,
   &__burger:after,
   &__burger span {
      @media (max-width: 650px) {
         content: "";
         background-color: #fff;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
   }
   &__burger:before {
      top: 0;
   }
   &__burger:after {
      bottom: 0;
   }
   &__burger span {
      top: 9px;
   }

   &__menu {
      @media (max-width: 650px) {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba($color: #663536, $alpha: 0.9);
         padding: 80px 0px 20px 20px;
         transition: all 0.5s ease 0s;
         overflow: auto;
      }
      @media (min-width: 650px) {
         transform: translate(-120%, 0px);
         opacity: 0;
         transition: all 0.8s ease 0.5s;
      }
      &._active {
         opacity: 1;
         transform: translate(0px, 0px);
      }
   }

   &__burger.active:before {
      @media (max-width: 650px) {
         transform: rotate(45deg);
         top: 9px;
      }
   }
   &__burger.active:after {
      @media (max-width: 650px) {
         transform: rotate(-45deg);
         bottom: 9px;
      }
   }
   &__burger.active span {
      @media (max-width: 650px) {
         transform: scale(0);
         transition: all 0.3s ease 0s;
      }
   }
   &__menu.active {
      top: 0;
   }
}
.container {
   max-width: 1140px;
   margin: 0px auto;
   padding: 0px 15px;
}

.ingressos {
   background: #000;
   &__title {
   }

   &__row {
      display: flex;
      justify-content: center;
      @media (max-width: 600px) {
         flex-direction: column;
         align-items: center;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      max-width: 350px;
      padding: 30px;
   }
   &__item {
   }
   &__item:first-child {
      margin-right: 30px;
      @media (max-width: 600px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__subtitle {
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(30, 20);
      font-weight: 400;
      text-transform: uppercase;
   }

   &__price {
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(60, 40);
      font-weight: 400;
      text-transform: uppercase;
      @include adaptive_padding_top(240, 120);
      @include adaptive_padding_bottom(40, 30);
   }
   &__price sup {
      @include adaptive_font(30, 20);
   }

   &__button {
   }
   &__button button {
      background: transparent;
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(24, 16);
      font-weight: 700;
      text-transform: uppercase;
      border: 3px solid #ffffff;
      width: 100%;
      @include adaptive_height(70, 50);
      transition: all 0.5s ease 0s;
      @media (max-width: 600px) {
         border: 2px solid #ffffff;
      }
   }
   &__button button:hover {
      background-color: #3b1931;
      transition: all 0.5s ease 0s;
   }
   &__about {
      display: flex;
      align-items: center;
      @include adaptive_padding_top(30, 20);
      @include adaptive_padding_bottom(30, 20);
      justify-content: center;
   }

   &__img {
      padding-right: 10px;
   }

   &__txt {
      color: #ffffff;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
   }

   &__copywrite {
      color: #ffffff;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
   }

   &__text {
      color: #fefefe;
      font-family: Lato;
      font-weight: 400;
      @include adaptive_font(22, 14);
      @include adaptive_padding_top(60, 30);
      @include adaptive_padding_bottom(60, 30);
      text-align: center;
   }
}
.container {
}
.item-ingressos {
   &__body {
   }
   &_1 {
      background: url("../../img/ingressos/1.png") no-repeat top center / cover;
      transition: all 0.5s ease 0s;
      transform: translate(0px, 50%);
      opacity: 0;
   }
   &_1:hover {
      background: url("../../img/ingressos/1_1.png") no-repeat top center / cover;
      transition: all 0.5s ease 0s;
   }
   &_1._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }
   &_2 {
      background: url("../../img/ingressos/2.png") no-repeat top center / cover;
      transition: all 0.5s ease 0s;
      transform: translate(0px, 50%);
      opacity: 0;
   }
   &_2:hover {
      background: url("../../img/ingressos/2_2.png") no-repeat top center / cover;
      transition: all 0.5s ease 0s;
   }
   &_2._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }
}

.title {
   color: #ffffff;
   font-family: "Lato - Black";
   @include adaptive_font(38, 24);
   font-weight: 400;
   text-transform: uppercase;
   text-align: center;
   @include adaptive_padding_top(60, 30);
   @include adaptive_padding_bottom(60, 30);
}

.about {
   background: url("../../img/about/about_bg.png") no-repeat top center / cover;
   &__body {
      display: flex;
      justify-content: flex-end;
      @include adaptive_padding_bottom(135, 50);
      @include adaptive_padding_top(155, 55);
   }

   &__content {
   }

   &__title {
      color: #ffffff;
      font-family: "Lato - Black";
      @include adaptive_font(38, 27);
      font-weight: 400;
      text-transform: uppercase;

      transition: all 0.8s ease 0s;
      transform: translate(0px, 100%);
      opacity: 0;
   }
   &__title._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }
   &__text {
      color: #fffefe;
      font-family: Lato;
      @include adaptive_font(22, 18);
      font-weight: 400;
      @include adaptive_line_height(36, 20);
      @include adaptive_padding_top(60, 30);
      @include adaptive_padding_bottom(80, 30);

      transition: all 0.8s ease 0s;
      transform: translate(0px, 100%);
      opacity: 0;
   }
   &__text._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }

   &__story {
      display: flex;
      flex-direction: column;
   }

   &__item {
      display: flex;
      justify-content: space-between;
      @include adaptive_padding_bottom(25, 20);
      @media (max-width: 444px) {
         flex-direction: column;
      }

      transition: all 0.8s ease 0s;
      transform: translate(0px, 100%);
      opacity: 0;
   }
   &__item._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }
   &__item:last-child {
      padding: 0px;
   }

   &__year {
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(32, 22);
      font-weight: 300;
      text-transform: uppercase;
      @media (max-width: 444px) {
         @include adaptive_padding_bottom(20, 10);
      }
   }
   &__txt {
      color: #fffefe;
      font-family: Lato;
      @include adaptive_font(22, 18);
      font-weight: 400;
      max-width: 340px;
   }

   &__img {
   }
}
.container {
}

.galeria {
   background: #000;
   &__title {
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__item {
      transition: all 0.8s ease 0s;
      transform: translate(0px, 50%);
      opacity: 0;
   }
   &__item._active {
      opacity: 1;
      transform: translate(0px, 0px);
   }
   &__item img:hover {
      cursor: pointer;
   }
   &__item img {
      @media (max-width: 400px) {
         max-width: 250px;
      }
   }

   &__button {
      text-align: center;
      @include adaptive_padding_top(60, 30);
      @include adaptive_padding_bottom(60, 30);
   }
   &__button button {
      background-color: transparent;
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(24, 20);
      font-weight: 700;
      text-transform: uppercase;
      border: 3px solid #ffffff;
      @include adaptive_height(70, 50);
      @include adaptive_width(300, 200);
      transition: all 0.5s ease 0s;
   }
   &__button button:hover {
      background: #747474;
      transition: all 0.5s ease 0s;
   }
}
.container {
}
.title {
}

.map {
   max-width: 1920px;
   height: 100vh;
   iframe {
      width: 100%;
      height: 100%;
   }
}

.footer {
   background-image: linear-gradient(to right, #5328a1 0%, #782e0a 100%);
   &__row {
      @include adaptive_padding_top(60, 30);
      @include adaptive_padding_bottom(60, 30);
      display: flex;
      justify-content: space-between;
      @media (max-width: 500px) {
         flex-direction: column;
         text-align: center;
         align-items: center;
      }
   }

   &__left {
      @media (max-width: 500px) {
         @include adaptive_padding_bottom(20, 15);
      }
   }

   &__title {
      color: #ffffff;
      font-family: "Lato - Black";
      @include adaptive_font(29, 20);
      font-weight: 400;
      text-transform: uppercase;
      @include adaptive_padding_bottom(15, 10);
   }

   &__text {
      color: #ffffff;
      font-family: Lato;
      @include adaptive_font(14, 12);
      font-weight: 400;
      text-transform: uppercase;
   }

   &__right {
   }
}
.container {
}
.header {
   &__social {
   }

   &__links {
   }
}

.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba($color: #000, $alpha: 0.8);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: all 0.8s ease 0s;
   &__body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }

   &__content {
      background-color: #fff;
      color: #000;
      max-width: 800px;
      padding: 30px;
      position: relative;
      transition: all 0.8s ease 0s;
      opacity: 0;
      transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
      overflow-x: hidden;
      overflow-y: auto;
   }

   &__close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      color: #000;
   }

   &__title {
      font-size: 40px;
      margin: 0 0 1em 0;
   }

   &__text {
   }
   &__area {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}
.popup.open {
   opacity: 1;
   visibility: visible;
}

.popup.open .popup__content {
   transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
   opacity: 1;
}

.popup__content_image {
   padding: 0;
}
.popup__image img {
   max-width: 100%;
   vertical-align: top;
}
